<div class="node">
  <%= node.name %> <%= link_to 'edit', edit_tree_node_path(@tree, node) %>
  <div class="node-children">
    <% node.children.each do |node| %>
      <%= render partial: 'nodes/details', locals: {node: node} %>
    <% end %>
    <%= render partial: 'nodes/form', locals: {node: Node.new, tree: @tree, parent: node} %>
  </div>
</div>
