// Place all the styles related to the Tree controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tree {
  margin-left: 5px;
}
.node {
  margin-bottom: 5px;
}
.node-children {
  margin-left: 10px;
}
